<section>
  <div class="container w-50 p-3 text-white">
    <form action="" method="POST" >
      <fieldset>
        <legend class="text-center display-6">Urna Eletrônica</legend>
        <div class="row form-group">
          <div class="col-8 mx-auto">
            <label for="idNumeroCandidato" class="form-label my-3">Selecione seu Candidato: </label>
            <input list="candidatos" id="idNumeroCandidato" type="number" placeholder="Informe o número" autofocus autocomplete="off" class="form-control" min="0">
            <datalist id="candidatos">
              <!--
                <option value="15">Jurubeba</option>
                <option value="22">Chiquinho do Pneu</option>
                <option value="64">Teobaldo</option>
                <option value="53">Maria Chiquinha</option>
                <option value="30">Dilma Bolsonarista</option>
              -->
            </datalist>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-auto py-4">
              <figure >
                <img src="#" class="rounded mx-auto d-block img-thumbnail" alt="Foto do Candidato" width="20%" id="idImagemCandidato">
                <figcaption id="idLegendaCandidato" class="text-center">Nome(Nº: X)</figcaption>
              </figure>
            </div>
          </div>

        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-auto">
              <button id="idBtnBranco" name="nmBtnBranco" type="button" class="btn btn-light border btn-lg">Branco</button></div>
              <div class="col-auto">
                <button id="idBtnCorrige" name="nmBtnCorrige" type="reset" class="btn btn-danger btn-lg">Corrige</button>
              </div>
              <div class="col-auto ">
                <button id="idBtnConfirma" name="nmBtnConfirma" type="submit" class="btn btn-success btn-lg">Confirma</button>
              </div>
        </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
