<section>
  <div>
    <table id="idTableApuracao">
      <caption>Lista dos candidatos mais votados
      </caption>
      <thead>
        <tr id="idTrColuna">
          <th scope="col">Colocação</th>
          <th scope="col">Foto</th>
          <th scope="col">Número</th>
          <th scope="col">Nome</th>
          <th scope="col">Votos</th>
        </tr>
      </thead>
      <tbody id="idTbodyTableBody">
        <tr>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
