<section>
  <div class="container py-2">
    <div class="table-responsive">
      <table id="idTableApuracao" class="table table-light table-striped table-hover table-bordered border-secondary caption-top shadow-sm text-center align-middle">
        <caption class="text-center text-white text-dark display-6">Lista dos candidatos mais votados
        </caption>
        <thead class="table-dark">
          <tr id="idTrColuna">
            <th scope="col">Colocação</th>
            <th scope="col">Foto</th>
            <th scope="col">Número</th>
            <th scope="col">Nome</th>
            <th scope="col">Votos</th>
          </tr>
        </thead>
        <tbody id="idTbodyTableBody" *ngIf="listaApuracao.length > 0; else listaVazia">
          <tr *ngFor="let apuracao of listaApuracao; let i = index">
            <td>{{i+1}}</td>
            <td>{{apuracao.urlImagem}}</td>
            <td>{{apuracao.numero}}</td>
            <td>{{apuracao.nome}}</td>
            <td><h2><span class="badge bg-secondary">{{apuracao.votos}}</span></h2></td>
          </tr>
        </tbody>
        <tfoot class="table-dark">
          <tr>
            <td colspan="5">Total de votos : {{totalVotos}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <ng-template #listaVazia>
    <tr>
      <td colspan="5" class="table-active text-center table-dark table-striped bg-dark">Nenhum registro foi encontrado.
      </td>
    </tr>
  </ng-template>
</section>
