<section>
  <div>
    <form action="">
      <fieldset>
        <legend>
          Faça login para continuar
        </legend>
        <div>
          <input type="email" placeholder="example@example.com" id="idInputEmail" name="nmInputEmail" autofocus autocomplete="on" required>
        </div>
        <div>
          <input type="password" placeholder="Senha" id="idInputSenha" name="nmInputSenha" autocomplete="off" required>
        </div>
        <button type="submit" id="idBtnLogin" name="nmBtnLogin">Login</button>
      </fieldset>
    </form>
  </div>
</section>